*.class

*.jar
*.war
*.ear

crawler/*.html
crawler/*.HTM

target

.classpath
.project
.settings
Gemfile.lock

verbum-domini-app/src/main/resources/app-configuration.properties
verbum-domini-app/src/main/resources/hibernate.cfg.xml