<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.connection.url">jdbc:postgresql://127.0.0.1:5432/verbum_domini_test</property>
		<property name="hibernate.connection.username">postgres</property>
		<property name="hibernate.connection.password">postgres</property>
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="hibernate.show_sql">false</property>
		
		<mapping class="com.github.aureliano.verbum_domini.core.impl.bean.BibleBeanImpl"/>
		<mapping class="com.github.aureliano.verbum_domini.core.impl.bean.BookBeanImpl"/>
		<mapping class="com.github.aureliano.verbum_domini.core.impl.bean.ChapterBeanImpl"/>
		<mapping class="com.github.aureliano.verbum_domini.core.impl.bean.VerseBeanImpl"/>
		<mapping class="com.github.aureliano.verbum_domini.core.impl.bean.AnnotationBeanImpl"/>
		<mapping class="com.github.aureliano.verbum_domini.core.impl.bean.UserBeanImpl"/>
	</session-factory>
</hibernate-configuration>